.header-1st{
    width: 1920px;
height: 850px;
background: rgba(229, 84, 115, 0.10);
}
.flower{
    padding: 50px 240px 0px 1045px;
    width: 635px;
height: 800px;
}
*{
    margin: 0px;
    padding: 0px;
}
.first-h1{
    padding: 197px 972px 365px 240px;
}